/* Write your code here: */
body{
    background-color: lavender;
    font-family: 'Arial Black', sans-serif;
}


h1{
    color: crimson;
    text-align: center;
    font-size: 45px;
}
h2{
    color: darkblue;
    font-size: 30px;
}
.box > p{
    color: darkgreen;
}

.box li{
    color: darkred;
}
li.done{
    color: rgb(240, 158, 6);
}

ul p.done{
    font-size: 0.75rem;
    color: rebeccapurple;
}

p{
    font-size: 20px;
    color: black;
}