body{
    background-color: #ffe6e6;
    font-family: Arial, sans-serif;
}

h1{
    color: #c52e2e;
    font-size: 47px;
    text-align: center;
}

h2{
    color: #b81919;
    font-size: 35px;
    text-align: center;
}
#red{
    background-color: #f54242;
}
#green{
    background-color: #008000;
}
#blue{
    background-color: #0000FF;
}